@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Jersey+15&family=Space+Grotesk:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg,#0f172a,#111827);
}
footer{
    margin-top: auto;
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #07151C ;
    backdrop-filter: blur(10px);
    color: antiquewhite;
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;

}
footer .rights{
    color: #D9D9D9;
    font-size: 14px;
}

@media ( max-width:428px) and (min-height : 600px) {
nav{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items:center;
     width: 100%;
    height: 90px;
    background: rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
     box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color:  antiquewhite;
    font-family: 'inter';
}
.nav-links{
    display:none;
    list-style:none;
    gap:20px;
}
.nav-links a{
    color:  antiquewhite;
    text-decoration:none;
    
}
nav h1{
    padding: 25px;
    transition: transform 0.5s ease;
}
nav h1:hover{
    transform: scale(1.05);
}
#menuBtn{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 99999;
    cursor: pointer;
    transition: all .3s ease;
    color:  antiquewhite;
}
#menuBtn.active{
    transform: rotate(90deg);
}
.sidebar {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction:column ;
    top: 0;
    right: -250px;
    width: 150px;
    height: 100%;
    background: rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
     box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color:  antiquewhite;
    transition: 0.3s ease-in-out;
    z-index: 1000;
}
.sidebar.active {
    right: 0;
}
.sidebar a {
    display: block;
    padding: 30px;
    color:  antiquewhite;
    text-decoration: none;
    transition: transform 0.5s ease;
    font-size: 32px;
    font-family: 'Jersey 10';
}
.sidebar :nth-child(1){
    margin-top: 50px;
}
.sidebar a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}
.title{
    color: white;
    width: 100%;
    padding-top: 30px;
}
.title h1{
    font-size: 40px;
    font-family: Instrument Sans;
    text-align: center;
    letter-spacing: 10%;
}
.skillsbar{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    gap:50px;
    place-items: center;
    padding-top: 60px;
}
.skillsbar .outer{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 10px;
    box-shadow:
        8px 8px 16px rgba(0,0,0,.35),
        -8px -8px 16px rgba(255,255,255,.05);;
}
.skillsbar .outer .inner{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,.35),
                inset -4px -4px 8px rgba(255,255,255,.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number{
    font-weight: bold;
    letter-spacing: 10%;
    color: white;
    font-size: 26px;
    font-family: "Space Grotesk", sans-serif;
}
circle{
    fill: none;
    stroke-width: 10px;
    stroke: #59D8FF;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: anim 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
}
@keyframes anim {
    100%{
        stroke-dashoffset: var(--offset);
    }
}
.inner .skillname{
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10%;
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
}
.content{
    padding-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    letter-spacing: 5%;
    padding-bottom: 50px;
}
.content div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-family:"Space Grotesk", sans-serif;
}
.content .physics{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content div h3{
    color: #6BE6FF;
    font-size: 24px;
    width: max-content;
    white-space: nowrap
}
.content div p{
    color: #D6E2E8;
    font-size: 20px;
}
}
@media (min-width:429px){
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
     width: 100%;
    height: 90px;
    background: rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
     box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color:  antiquewhite;
}
nav h1{
    padding: 25px;
    transition: all 0.5s ease;
    cursor: default;
    font-family: 'inter';
}
nav h1:hover{
    transform: scale(1.15);
}
#menuBtn{
        display:none;
}
.sidebar{
        display:none;
}
.nav-links{
        display:flex;
        gap: 20px;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    display: block;
    color:  antiquewhite;
    font-size: 32px;
    font-family: 'Jersey 10';
    text-decoration: none;
    padding-right: 50px ;
    transition: all 0.5s ease;
    cursor: pointer;
}
.nav-links li a:hover{
    text-decoration: underline;
    transform: scale(1.05);
}
.title{
    color: white;
    width: 100%;
    padding-top: 30px;
}
.title h1{
    font-size: 40px;
    font-family: Instrument Sans;
    text-align: center;
    letter-spacing: 10%;
}
.skillsbar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap:150px;
}
.skillsbar .outer{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 10px;
    box-shadow:
        8px 8px 16px rgba(0,0,0,.35),
        -8px -8px 16px rgba(255,255,255,.05);;
}
.skillsbar .outer .inner{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,.35),
                inset -4px -4px 8px rgba(255,255,255,.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number{
    font-weight: bold;
    letter-spacing: 10%;
    color: white;
    font-size: 26px;
    font-family: "Space Grotesk", sans-serif;
}
circle{
    fill: none;
    stroke-width: 10px;
    stroke: #59D8FF;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: anim 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
}
@keyframes anim {
    100%{
        stroke-dashoffset: var(--offset);
    }
}
.inner .skillname{
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10%;
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
}
.content{
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    letter-spacing: 5%;
}
.content div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-family:"Space Grotesk", sans-serif;
}
.content div h3{
    color: #6BE6FF;
    font-size: 36px;
    width: max-content;
    white-space: nowrap
}
.content div p{
    color: #D6E2E8;
    font-size: 28px;
}
}